.form {
  display: flex;

  @include tablets {
    padding: 0 18%;
    flex-direction: column;
  }

  @include phones {
    padding: 0;
    flex-direction: column;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(38px);
  
  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;  
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(7px);

  &--textarea--margin {
    margin-bottom: rem(20px);
  }
}

.form__block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input.input-error {
  border: solid rem(4px) rgb(221, 6, 89);
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(11px);
  border: solid rem(3px) transparent;
  border-radius: 4px;

  &--textarea {
    height: rem(154px);
    resize: none;
    padding: 0;

    @include tablets {
      height: rem(90px);
    }
  }

  &:focus {
    border-color: #DEE2BD;
    outline: none;
  }

  @include tablets {
    padding: rem(11px) rem(9px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(19px);

  @include phones {
    justify-content: center;
  }
}

.form__btns{
  margin-top: rem(45px);

  @include tablets {
   display: flex;
   justify-content: center;
  }
}