.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  width: rem(54px);
  height: rem(38px);
}

.menu {
  margin: 0 30px;
  padding-top: 5px;

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
 
}

.menu__item {
  margin-right: rem(28px);
  margin-bottom: 10px;
  
  &:last-child {
    margin-right: 0;
  }
}

.phone-number {
  font-size: rem(22px);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &.header__phone-number {
      @include tablets {
        display: none;
    }   
  }
  @include phones {
    font-size: rem(28px);
  }
}

.phone-number__icon-elem {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(7px);

  @include phones {
    width: rem(15px);
    height: rem(15px);
  }
}

.phone-number__text{
  padding-right: rem(10px);
}