.hero {
  background: url("../img/big-leaf.png") right bottom / contain no-repeat ;
  background-color: $blue;
  height: 100vh;
  min-height: rem(650px);
  color: #fff;
  padding: rem(24px) 0 rem(45px);
  position: relative;

  @include tablets {
    background-position: right center 146%;
  }
  @include phones {
    background-position: center center  ;
  }

  &:before, &:after {
    @include tablets {
      display: none;
    }
  }

  &:before {
    position: absolute;
    bottom: -8%;
    right: 0;
    content: url("../img/Group\ 4.png");
  } 
  &:after {
    position: absolute;
    bottom: -9%;
    left: 2%;
    content: url("../img/left-leaf.png");
  } 
}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}

.hero__title-section {
  width: 40%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::before {
      content: "";
      width: rem(316px);
      height: rem(330px);
      background: url(../img/bars&barries.png) center center / contain no-repeat;
      margin-bottom: rem(15px);
    }

  }
}

.hero__container {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height: 100%;
  background: url("../img/Батончики.png") right center / 50% auto no-repeat;

  @include tablets {
    background: none;
  }

}

.hero__main-title {
  font-size: rem(48px);
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: rem(17px);
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(44px);

  @include tablets {
    padding: 0 25%;
    margin-bottom: rem(15px);
  }

  @include phones {
    padding: 0 17%;

  }
}