.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  display: none;
}

.modal__container {
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}