.order__section {
  color: #497870;
  position: relative;
  background: url("../img/background.png") ;
  //z-index: $z-order-background;

  .section__title {
    color: #497870;
    margin-bottom: rem(54px);

    @include tablets {
      margin-bottom: rem(27px);
    }
  }

  &:before, &:after {
    @include phones {
      display: none;
    }
  }

  &:before {
    content: url("../img/leaf-right.png");
    position: absolute;
    right: 1%;
    bottom: 5%;
  }
  &:after {
    content: url("../img/blueberry.png");
    position: absolute;
    left: 17%;
    bottom: 9%;

      @include tablets {
      left: 4%    
    }
  }
}