.fixed__menu {
  position: fixed;
  top: 20%;
  right: 3%;

}

.fixed__menu_item {
  margin-bottom: 3%;

  &-active {
    .fixed__menu_link{
      border-color: #fff;
    }
    
  }
}

.fixed__menu_link {
  width: 18px;
  height: 18px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}