.headline {
  text-align: center;
  margin-bottom: rem(45px);
}

.headline__title {
  margin-bottom: rem(12px);
}

.headline__subtitle {
  padding: 0 26%;
  
  @include phones {
    padding: 0 2%;
  }
}