.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 30px;
  height: 30px;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__link {
  text-decoration: none;
}

.menu__item {
  margin-right: 20px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
  margin-right: 20px;
}