.hero {
  background: url("../img/big-leaf.png") right bottom no-repeat ;
  background-color: $blue;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  padding: 24px 0 45px;
  position: relative;

  &:before {
    position: absolute;
    bottom: -8%;
    right: 0;
    content: url("../img/Group\ 4.png");
  } 
  &:after {
    position: absolute;
    bottom: -9%;
    left: 2%;
    content: url("../img/left-leaf.png");
  } 
}


.hero__title-section {
  width: 40%;
}

.hero__container {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height: 100%;
  background: url("../img/Батончики.png") right center / 50% auto no-repeat,

}

.hero__main-title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 17px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 44px;
}