.section-products {
	background: #F8FAF9;
	position: relative;

	&:before {
    position: absolute;
    content: url("../img/producktBefore.png");
    right: 0;
    bottom: -30%;
  }

	&:after {
    content: url("../img/producktAfter.png");
    position: absolute;
    bottom: -9%;
		right: 0;
	}
}

.products_slider {
	display: flex;
	justify-content: center;
	align-items: center;
}

.products_item {
	display: flex;
	justify-content: center;
	align-items: center;

	@include tablets {
	flex-direction: column;
	}
}

.product_img {
	width: 59%;

	@include tablets {
		max-width: 60%;
		}

	@include phones {
		min-width: 80%;
	}
}

.product_inform {
	flex: 1;
	display: flex;
	flex-direction: column;

	@include tablets {
		align-items: center;
		}
}

.product_dropdown{
	position: relative;
	height: 90px;
  width: 90px;
  background: #86C3D7;
	border-radius: 4px;
	margin-bottom: 22px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	:hover {
		opacity: 1;
		transition: .3s;
	}


	&-icon {
		width: 90px;
    height: 55px;
	}

	&-text {
		color: #fff;
		font-size: 14px;
	}

	@include tablets {
		display: none;
	}
	@include phones {
		display: none;
	}
} 


.product_title {
	color: black;
	margin-bottom: 15px;

	@include tablets {
		text-align: center;
	}
}

.product_desctiption{ 

	
	@include tablets {
		padding: 0 5%;	
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	&-inf {
		padding-right: 10%;
		margin-bottom: 8px;
	}

	&-cell {
		display: flex;
		margin-bottom: 10px;
		align-items: center;

		&-item {
			width: 150px;

			@include tablets {
		
			display: flex;
			flex-direction: column;
			justify-content: center;
			}
		}
	}
}

.fz {
	font-size: 60px;
	color: black;
}

.spanB {
	color: black;
}