.rewiews {
  position: relative;
  background: #F8FAF9;
  padding: 41px 41px 47px;
  margin-bottom: 14px; 
  overflow: hidden;

  &:after{
    position: absolute;
    content: "";
    height: 90px;
    width: 90px;
    background: #fff;
    border-radius: 50%;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    top: -65px;


  }

  &:before {
    position: absolute;
    content: url("../img/ветка-куста.png") ;
    top: 6%;
    right: 0;
  }
}

.rewiews__display-inner {
  display:flex;
}

.rewiews__avatar {
  width: 254px;
  height: 260px;
}

.rewiews__display-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.rewiews__content {
  flex: 1;
  margin-left: 37px;
}

.rewiews__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

.rewiews__text {
  width: 77%;
  line-height: 1.2;
  margin-bottom: 28px;
}

.rewiews__author {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.rewiews__switcher{ 
  display: flex;
  justify-content: center;
}